.button {
  font-size: 14px;
  cursor: pointer;
  color: #7cf;
  background-color:#12161c; 
  border-style: none;
}

.hidden {
  display: none;
}

#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 80%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
}
.h1{
  color: black;
}
.h1-1{
  color: black;
  padding-top: 10px;
}
